    .color-blanco
    {
        color: white;
        font-family: monospace
    }
    .color-celeste
    {
        color: cadetblue;
        font-family: monospace
    }
    .logo
    {
        height:350px;
    }
    .video
    {
        width:660px;
        height:415px;
    }
    .border
    {

    }

    p
    {
        font-size: 25px;
    }
    h1
    {
        font-size: 35px;
    }
    hr
    {
        border-color: cadetblue;
        border-style: ridge; 
    } 