/*__________________________________________________________________Generic*/
.color-celeste {
  color: cadetblue;
  transition: 0.3s;
}
.logo {
  height: 430px;
  margin-bottom: -10px;
}
.header {
  padding-bottom: 70px;
}
.header-content {
  padding-right: 45px;
}
.video {
  width: 660px;
  height: 415px;
  border: none;
}
.article-index {
  margin-left: 500px;
  margin-right: 500px;
  margin-bottom: 200px;
}
.footer {
  margin-top: 200px;
}
.footer-border {
  border-color: cadetblue;
  border-style: dotted;
}
.box {
  box-shadow: 0px 0px 10px cadetblue;
}

body {
  background-color: black;
  color: white;
  font-family: monospace;
  align-items: center;
  text-align: center;
}
p {
  text-shadow: 0px 0px 8px cadetblue;
  font-size: 25px;
  color: rgb(174, 214, 214);
}
h1 {
  font-size: 35px;
  text-shadow: 0px 0px 12px cadetblue;
}
hr {
  border-color: cadetblue;
  border-style: solid;
}

/*__________________________________________________________________Members*/
#Chester {
  text-shadow: 0px 0px 10px rgb(255, 255, 83);
}
.article-member {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 100px;
}
.member-title-article {
  text-align: left;
  text-shadow: 0px 10px 20px cadetblue;
}
.member-text-article {
  text-align: left;
  margin-right: 275px;
}
.grid {
  display: grid;
  grid-template-columns: auto auto;
}
.image {
  height: 775px;
  border-style: solid;
  border-color: black;
  border-radius: 1000px;
}
.gif {
  width: 650px;
  margin-top: 125px;
  border-color: black;
  border-radius: 1000px;
}

.article-member2 {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 100px;
}
.member-title-article2 {
  text-align: right;
  text-shadow: 0px 10px 20px cadetblue;
}
.member-text-article2 {
  text-align: right;
  margin-left: 275px;
}

/*__________________________________________________________________Animations*/
.hover:hover {
  text-shadow: 0px 0px 20px white;
}

@keyframes opacityKey {
  0% {
    opacity: 100%;
  }
  10% {
    opacity: 90%;
  }
  20% {
    opacity: 80%;
  }
  30% {
    opacity: 70%;
  }
  40% {
    opacity: 60%;
  }
  50% {
    opacity: 50%;
  }
  60% {
    opacity: 40%;
  }
  70% {
    opacity: 30%;
  }
  80% {
    opacity: 20%;
  }
  90% {
    opacity: 10%;
  }
  100% {
    opacity: 0%;
  }
}
.opacity {
  animation-name: opacityKey;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
